@charset "UTF-8";

/* */
.bbs_view { margin:0; }

/* 제거 항목 */
#vis #titler, .bbs_view_info, .nb_ul, .bbs_viewbtn_1, #guick_banner { display: none; }
.bbs_viewing { border: 0; }
.bbs_view_contents { padding:0; }

/* 컨테이너 */
#container { max-width: 800px; }
@media (max-width: 992px) {
  #container { padding: 0 1rem; }
}

/* 헤더 이미지 */
.bbs_view_header { position: relative; left: 50%; transform: translateX(-50%); width: 100vw; height: 260px;  background-position: center; background-size: cover; background-repeat: no-repeat; }
.bbs_view_header img { opacity: 0; visibility: hidden; }

@media (min-width: 1930px) {
  .bbs_view_header { height: 300px; }
}
@media (max-width: 992px) {
  .bbs_view_header { height: 160px; }
}

/* 콘텐츠 타이틀 */
.bbs_view_title { margin:30px 0 40px; }
.bbs_view_title h4 { margin-top:10px; font-weight:600; letter-spacing:-0.03em; line-height:1.4; font-size:1.875rem; }
.bbs_view_title .sub_txt { margin-top:25px; color:#139A43; font-weight:700; letter-spacing:-0.03em; line-height:1.4; font-size:1rem; }
@media (max-width: 768px) {
  .bbs_view_title h4 { font-size: 1.5rem; }
  .bbs_view_title .sub_txt { margin-top:15px; font-size: 0.875rem; }
}

/* 태그리스트 */
.bbs_view_tag { width:100%; margin:40px 0; }
.bbs_view_tag .tag_list { display:inline-flex; flex-wrap:wrap; }
.bbs_view_tag .tag_list li { margin-right:10px; margin-bottom:10px; }
.bbs_view_tag .tag_list li a { display:block; padding:4px 8px; text-align:center; white-space:nowrap; border:1px solid #606060; font-weight:400; letter-spacing:-0.03em; line-height:1.2; font-size:0.625rem; }

/* 목록 버튼 */
.bbs_viewbtn { justify-content: center; margin:0; padding:30px 0; border-top:1px solid #000; }
.bbs_viewbtn .btn_list { display: inline-flex; justify-content: center; align-items: center; min-width: 130px; height: 40px; background: #fff; border: 1px solid #ddd; border-radius: 0.313rem; color: #111; font-weight:600; letter-spacing:-0.03em; line-height:1.2; font-size:0.813rem; }
.bbs_viewbtn .btn_list img { margin-left: 15px; transition: all .25s; }
.bbs_viewbtn .btn_list:hover { background: #fff; border-color: #3DBBA6; }
.bbs_viewbtn .btn_list:hover img { margin-left: 25px; }
@media (max-width: 768px) {
  .bbs_viewbtn .btn_list { min-width: 12rem; height: 55px; font-size: 1rem; }
}

/* 콘텐츠 작가 표시 */
.bbs_view_writer { display: flex; justify-content: center; padding:0 0 30px; border-bottom:1px solid #000; }
.bbs_view_writer ul { display:flex; }
.bbs_view_writer ul li { position:relative; padding:0 12px 0 7px; font-weight:600; letter-spacing:-0.03em; line-height:1.2; font-size:0.813rem; }
.bbs_view_writer ul li::after { content:"/"; position:absolute; top:50%; right:0; transform:translateY(-50%); color:#606060; font-weight:600; font-size:0.813rem; }
.bbs_view_writer ul li:last-child::after { display:none; }
.bbs_view_writer ul li span { color:#606060; }
/* .bbs_view_writer dt, .bbs_view_writer dd { display: inline-block; font-weight: 400; }
.bbs_view_writer dl.writer span { margin-right: 5px; }
.bbs_view_writer dl.writer b { font-size: 18px; font-weight: 800; }
.bbs_view_writer dl.writer dd { margin-left: 4.375rem; font-weight: 500; letter-spacing: 0; }
.bbs_view_writer dl.picture dt { margin-right: 10px; font-size: 14px; } */
@media (max-width: 768px) {
  /* .bbs_view_writer { display: block; }
  .bbs_view_writer dt, .bbs_view_writer dd { display: block; }
  .bbs_view_writer dl { margin-bottom: 1rem; }
  .bbs_view_writer dl.writer { text-align: left; }
  .bbs_view_writer dl.writer dd { margin: 0; }
  .bbs_view_writer dl.picture { text-align: left; }
  .bbs_view_writer dl.picture dt { margin: 0; } */
}

/* 해당 호수 콘텐츠 슬라이드 */
.bbs_view_slide { margin:70px 0; }
.bbs_view_slide h6 { font-weight:700; letter-spacing:-0.03em; line-height:1.3; font-size:1.5rem; }
.vol-slider { position: relative; margin-top: 1.875rem; }
.vol-slider li > a { display: block; width: 100%; height: 100%; }
.vol-slider li .cell_thumb { position: relative; width: 100%; margin: 0 auto; border: 1px solid #ddd; border-radius: 0.625rem; overflow: hidden; }
.vol-slider li .cell_thumb .vol { position: absolute; bottom: 0; left: 0; display: inline-flex; justify-content: center; align-items: center; min-width: 70px; height: 26px; background: #3DBBA6; border-radius: 0 1.25rem 0 0; color: #fff; font-family: 'Poppins', 'Pretendard', 'Noto Sans KR', sans-serif; font-size: 14px; font-weight: 700; letter-spacing: 0; line-height: 1; }
.vol-slider li .thumb-wrap { position: relative; width: 100%; padding-top: 60.71%; background-position: center; background-size: cover; background-repeat: no-repeat; overflow: hidden; transition: all .25s; }
.vol-slider li .thumb-wrap img { opacity: 0; visibility: hidden; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.vol-slider ul li .cell_txt { padding-top: 1.125rem; }
.vol-slider ul li .cell_subject { font-weight: 600; letter-spacing: -0.03em; word-break: break-all;
overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; height: 2.5rem; }
.vol-slider .swiper-button-prev, .vol-slider .swiper-button-next { width: 28px; height: 28px; background-size:28px 28px; }
.vol-slider .swiper-button-prev { left: calc(-36px - 28px); background-image: url("../images/pages/arrL_swiper_bl.png"); }
.vol-slider .swiper-button-next { right: calc(-36px - 28px); background-image: url("../images/pages/arrR_swiper_bl.png"); }
@media (max-width: 1200px) {
  .vol-slider .swiper-button-prev, .vol-slider .swiper-button-next { display: none; }
}
@media (hover: hover), (-ms-high-contrast:none) {
  .vol-slider li:hover .thumb-wrap { transform: scale(1.1); }
}

/* 뉴스레터 구독 */
.bot_subscribe { display:none; }


