@charset "utf-8";

/* vis */
#vis { display:none; }

/* 최신 발행호 */
#topSlider.hidden{opacity:0;overflow:hidden;visibility:hidden;} 
#topSlider{ position:relative; width:100%; margin-left:auto;margin-right:auto;height:inherit;z-index:1;transition:height .1s, opacity .2s;display:block;visibility:visible;opacity:1;}
#topSlider .swiper-wrapper {position: relative;z-index:1}
#topSlider .swiper-slide{display:flex;justify-content:center;align-items:center;max-height:350px;overflow:hidden;z-index:2}
#topSlider .swiper-slide img{width:100%;height:100%;}
#topSlider [class*='swiper-button-']{color:rgba(255,255,255,0.5);z-index:101;}
#topSlider .swiper-button-prev,
#topSlider .swiper-button-next { transform:translateY(-50%); margin:0; }
#topSlider .swiper-button-prev{left:50px;}
#topSlider .swiper-button-next{right:50px;}

/* 퀵배너 */
#guick_banner { width:100%; max-height:70px; padding:18px 0; background:#139A43; }
#guick_banner .quick_list { display:flex; align-items:center; justify-content:center; gap:0 45px; }
#guick_banner .quick_list li {}
#guick_banner .quick_list li a {color:#fff; display:flex; align-items:center; }
#guick_banner .quick_list li span { margin-left:5px; color:#fff; font-weight:600; font-size:0.875rem; letter-spacing:-0.02em; }
#guick_banner .quick_list li i { display:block; width:35px; height:35px; border-radius:100%; background-color:#fff; background-position:center center; background-repeat:no-repeat; transition:all 0.3s; }
#guick_banner .quick_list li i:hover { /* width:40px; height:40px; */ }
#guick_banner .quick_list li .instagram { background-image:url('../images/common/ico_quick_1.png'); }
#guick_banner .quick_list li .blog { background-image:url('../images/common/ico_quick_2.png'); background-position:center 65%; }
#guick_banner .quick_list li .facebook { background-image:url('../images/common/ico_quick_3.png'); }
#guick_banner .quick_list li .youtube { background-image:url('../images/common/ico_quick_4.png'); }
#guick_banner .quick_list li .kakao { background-image:url('../images/common/ico_quick_5.png'); }
#guick_banner .quick_list li .opinion { background-image:url('../images/common/ico_quick_6.png'); }
#guick_banner .quick_list li .instagram:hover { background-image:url('../images/common/ico_quick_1_on.png'); }
#guick_banner .quick_list li .blog:hover { background-image:url('../images/common/ico_quick_2_on.png'); }
#guick_banner .quick_list li .facebook:hover { background-image:url('../images/common/ico_quick_3_on.png'); }
#guick_banner .quick_list li .youtube:hover { background-image:url('../images/common/ico_quick_4_on.png'); }
#guick_banner .quick_list li .kakao:hover { background-image:url('../images/common/ico_quick_5_on.png'); }
#guick_banner .quick_list li .opinion:hover { background-image:url('../images/common/ico_quick_6_on.png'); }

/* 추천콘텐츠, 월간베스트, 최신콘텐츠 */
#top_con_slide { margin:50px 0 80px; overflow:hidden; }
#top_con_slide .inner { /* max-width:1100px; padding:0; */ }
#top_con_slide .tab-pane { display:none; }
#top_con_slide .tab-pane.active { display:block; }
#top_con_slide .tab-style-02 { /* text-align:center; */ }
#top_con_slide .tab-style-02 .nav { /* display:inline-flex; */ align-items:center; position:relative; margin-bottom:30px; /* padding-bottom:10px; border-bottom:1px solid #000; */ }
#top_con_slide .tab-style-02 .nav-item { padding:0 22px 0 20px; }
.tab-style-02 .nav-item .nav-link { color:#606060; font-size:1rem; font-weight:300; letter-spacing:-0.05em; }
.tab-style-02 .nav-item:not(:last-child)::after { height:15px; }
.tab-style-02 .nav-item .nav-link::after { display:none; }
.tab-style-02 .nav-item .nav-link.active { color:#000; font-weight:700; font-size:1.25rem; }
/* #top_con_slide .tab-style-02 .nav-item:not(:last-child)::after { top:calc(50% - 5px); } */
@media (hover: hover), (-ms-high-contrast:none) {
	.tab-style-02 .nav-item .nav-link:hover { color:#000; font-weight:700; }
}
#top_con_slide .tabContent-wrap { min-height:330px; }
#top_con_slide .top-con-swiper { float:left; position:relative; width:580px; height:330px; margin:0; }
#top_con_slide .top-con-swiper .swiper-slide { display:flex; align-items:center; justify-content:center; box-sizing:border-box; }
#top_con_slide .top-con-swiper .swiper-slide a { display: block; width: 100%; height: 100%; overflow: hidden; transition: all .25s; }
#top_con_slide .top-con-swiper .swiper-slide .img_con { }
#top_con_slide .top-con-swiper .swiper-slide .img_con .img { position: relative; width: 100%; padding-top: 59.82%; background-position: center; background-size: cover; background-repeat: no-repeat; overflow: hidden; /* width:404px; height:230px; */ }
#top_con_slide .top-con-swiper .swiper-slide .img_con .img img { opacity: 0; visibility: hidden; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); /* width:100%; height:100%; background-color:#C4C4C4; */ }
#top_con_slide .top-con-swiper .control-wrap { display:flex; justify-content:flex-end; align-items:center; gap:0 10px; position:absolute; left:0; bottom:0; z-index:20; width:100%; height:30px; padding:0 5px; background:#000; color:#fff; box-sizing:border-box; }
#top_con_slide .top-con-swiper .control-wrap > div { display:block; width:23px; height:23px; cursor:pointer; }
#top_con_slide .top-con-swiper .control-wrap .swiper-gallery-prev { background-image:url('../images/main/btn_con_prev.png'); }
#top_con_slide .top-con-swiper .control-wrap .swiper-gallery-next { background-image:url('../images/main/btn_con_next.png'); }
#top_con_slide .top-con-swiper .control-wrap .swiper-gallery-play { background-image:url('../images/main/btn_con_play.png'); }
#top_con_slide .top-con-swiper .control-wrap .swiper-gallery-pause { background-image:url('../images/main/btn_con_pause.png'); }
#top_con_slide .top-con-swiper .control-wrap .swiper-pagination { width:auto; height:auto; position:static; font-size:1.188rem; font-weight:500; letter-spacing:-0.02em; }
/* #top_con_slide .top-con-swiper .control-wrap .swiper-gallery-prev.swiper-button-disabled,
#top_con_slide .top-con-swiper .control-wrap .swiper-gallery-next.swiper-button-disabled { opacity:0.75; } */
#top_con_slide .top-con-thumb-swiper { float:right; max-width:480px; margin:0; height:330px; }
#top_con_slide .top-con-thumb-swiper .swiper-slide { display:flex; align-items:center; justify-content:center; box-sizing:border-box; cursor:pointer; }
#top_con_slide .top-con-thumb-swiper .swiper-slide-active { }
#top_con_slide .top-con-thumb-swiper .swiper-slide:hover { }
#top_con_slide .top-con-thumb-swiper .thumb_img { width:140px; height:95px; }
#top_con_slide .top-con-thumb-swiper .thumb_img img { width:100%; height:100%; border-radius:5px; background-color:#C4C4C4; }
#top_con_slide .top-con-thumb-swiper .thumb_txt { width:calc(100% - 140px); margin-left:12px; }
#top_con_slide .top-con-thumb-swiper .thumb_txt .type { font-size:0.625rem; line-height:1.3; }
#top_con_slide .top-con-thumb-swiper .thumb_txt .t04 { display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; height:38px; margin-top:5px; color:#000; white-space:normal; word-wrap:break-word; text-overflow:ellipsis; overflow:hidden; }

/* 콘텐츠 전체보기 */
#contents_all { }
#contents_all .tabContent-wrap { min-height:332px; margin:50px 0 0; }
#contents_all .tab_menu_con { display:flex; justify-content:center; align-items:center; width:100%; padding:10px 0; background-color:#EFEFEF; }
#contents_all .tab_menu_con > div {  }
#contents_all .tab_menu_con .tab-style-02 .nav { margin:0; justify-content:space-between; gap:5px 0; }
#contents_all .tab_menu_con .tab-style-02 .nav-item { padding:0 22px 0 20px; }
#contents_all .tab_menu_con .tab-style-02 .nav-item .nav-link { color:#000; letter-spacing:-0.03em; line-height:1.2; font-size:0.875rem; font-weight:500; }
#contents_all .tab_menu_con .tab-style-02 .nav-item .nav-link.active { color:#139A43; border-bottom:1px solid #139A43; }
@media (hover: hover), (-ms-high-contrast:none) {
	#contents_all .tab_menu_con .tab-style-02 .nav-item .nav-link:hover { color:#139A43; }
}
#contents_all .tab_menu_con .last_view { margin-left:40px; }
#contents_all .tab_menu_con .last_view a { display:block; min-width:120px; height:35px; padding:9px 15px; background-color:#fff; border:1px solid var(--color-g03); border-radius:5px; }
#contents_all .tab_menu_con .last_view i { margin-left:10px; transition:all 0.3s; }
#contents_all .tab_menu_con .last_view a:hover i { transform:rotate(-90deg); }
#contents_all .tab-pane { display:none; }
#contents_all .tab-pane.active { display:block; }
#contents_all .tab-pane > ul { display:flex; flex-wrap:wrap; width:calc(100% + 30px); margin-left:-15px; }
#contents_all .tab-pane > ul > li { width:calc(33.33% - 30px); margin:0 15px 80px; }
#contents_all .tab-pane > ul > li > a { }
#contents_all .tab-pane > ul > li > a .img { /* width:348px; */ height:200px; background-color:#C4C4C4; border-radius:5px 5px 0 0; overflow:hidden; }
#contents_all .tab-pane > ul > li > a .img img { width:100%; height:100%; transition:all .25s; }
#contents_all .tab-pane > ul > li > a:hover .img img { transform:scale(1.1); }
#contents_all .tab-pane .con_txt { padding:15px; }
/* #contents_all .tab-pane .con_txt .type { display:inline-block; padding:2px 6px; text-align:center; border-radius:4px; font-weight:600; letter-spacing:-0.03em; line-height:1.2; font-size:0.813rem; }
#contents_all .tab-pane .con_txt .type.type_1 { color:#139A43; background:#DAF5E4; }
#contents_all .tab-pane .con_txt .type.type_2 { color:#2F5DA0; background:#DFECFF; }
#contents_all .tab-pane .con_txt .type.type_3 { color:#006A97; background:#D0F7FF; } */
#contents_all .tab-pane .con_txt .tit { display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; height:40px; margin:10px 0; color:#000; white-space:normal; word-wrap:break-word; text-overflow:ellipsis; overflow:hidden; }
#contents_all .tab-pane .con_txt .bot { display:flex; align-items:flex-end; }
#contents_all .tab-pane .con_txt .bot .vol { margin-right:10px; color:#139A43; font-weight:700; letter-spacing:-0.03em; line-height:1.2; font-size:0.813rem; }
#contents_all .tab-pane .con_txt .bot .tag_con { }

/* 지난호보기 */
#webzine_last_view { width:100%; min-height:105px; margin-top:90px; padding:15px 0 10px; background-color:#F2F2F2; }
#webzine_last_view .inner { display:flex; align-items:center; justify-content:center; }
#webzine_last_view .con_txt { display:inline-block; position:relative; padding-right:214px; text-align:center; }
#webzine_last_view .con_txt::before { content:''; display:block; position:absolute; bottom:0; right:0; width:188px; height:141px; background:url('../images/main/img_link.png') 0 0 no-repeat; }
#webzine_last_view .con_txt .txt { color:#111; font-size:0.75rem; line-height:1.3; }
#webzine_last_view .con_txt .tit { margin:6px 0; color:#111; font-size:1.125rem; line-height:1.3; font-weight:700; }
#webzine_last_view .con_txt .btn_con { }

/* 이벤트_sns로 만나는 광주환경공단 */
#event_sns { width:100%; padding:50px 0 60px; background-color:#F2FCF4; }
#event_sns .inner { display:flex; flex-wrap:wrap; justify-content:space-between; gap:15px 0; }
#event_sns .inner .tit { margin-bottom:8px; color:#000; }
#event_sns .event_con {  }
#event_sns .event_con .img { width:560px; height:420px; background-color:#C4C4C4; overflow:hidden; }
#event_sns .event_con .img img { width:100%; height:100%; transition:all .25s; }
#event_sns .event_con .img:hover img { transform:scale(1.1); }
#event_sns .sns_con { width:483px; }
#event_sns .sns_con ul { display:flex; flex-wrap:wrap; width:calc(100% + 20px); margin-left:-10px; }
#event_sns .sns_con ul li { position:relative; width:calc(50% - 20px); margin:0 10px 20px; border:0 none; }
#event_sns .sns_con ul li a { display:block; width:230px; height:200px; background-color:#C4C4C4; overflow:hidden; }
#event_sns .sns_con ul li a img { width:100%; height:100%; transition:all .25s; }
#event_sns .sns_con ul li a:hover img { transform:scale(1.1); }
#event_sns .sns_con .icon { display:block; position:absolute; top:16px; left:16px; width:35px; height:35px; text-indent:-10000em; border-radius:100%; background-color:#fff; background-position:center center; background-repeat:no-repeat; }
#event_sns .sns_con .insta { background-image:url('../images/main/ico_insta_on.png'); }
#event_sns .sns_con .face { background-image:url('../images/main/ico_face_on.png'); }
#event_sns .sns_con .kakao { background-image:url('../images/main/ico_kakao_on.png'); }
#event_sns .sns_con .blog { background-image:url('../images/main/ico_blog_on.png'); }

/* 반응형 기본 */
/* Media Query - PC First */

@media (max-width: 1560px) {
	
}

@media (max-width: 1500px) {
	#container { padding: 0; }
}

@media (max-width: 1200px) {
	
}

@media (max-width: 1100px) {
	/* 콘텐츠 전체보기 */
	
}

@media (max-width: 992px) {
	/* 퀵배너 */
	#guick_banner { padding:15px 0; }
	#guick_banner .quick_list { gap:0 20px; }
}

@media (max-width: 800px) {
	/* 추천콘텐츠, 월간베스트, 최신콘텐츠 */
	#top_con_slide { margin:30px 0; }
	#top_con_slide .inner { max-width:none; width:100%; padding:0 2%; }
	#top_con_slide .tabContent-wrap { min-height:auto; }
	#top_con_slide .top-con-swiper { float:none; margin:0 auto; }
	#top_con_slide .top-con-swiper .swiper-slide .img_con .img { }
	#top_con_slide .top-con-thumb-swiper { float:none; margin:0 auto; }
	#top_con_slide .top-con-thumb-swiper .thumb_txt .t04 { height:35px; }
	
	/* 콘텐츠 전체보기 */
	#contents_all .tabContent-wrap { margin:30px 0 0 0; }
	#contents_all .tab-pane > ul { width:calc(100% + 20px); margin-left:-10px; }
	#contents_all .tab-pane > ul > li { width:calc(50% - 20px); margin:0 10px; }
	
	/* 이벤트_sns로 만나는 광주환경공단 */
	#event_sns { padding:30px 0; }
	#event_sns .inner { max-width:none; padding:0 2%; }
	#event_sns .event_con { width:100%; }
	#event_sns .event_con .img { width:100%; margin:0 auto; }
	#event_sns .sns_con { width:100%; margin:0 auto; }
	#event_sns .sns_con ul li a { width:100%; height:200px; }
}

@media (max-width: 768px) {
	/* 퀵배너 */
	#guick_banner { padding:10px 0; }
	#guick_banner .quick_list { gap:0 10px; }
	#guick_banner .quick_list li i { width:25px; height:25px; background-size:65% auto; }
	#guick_banner .quick_list li .blog { background-size:75% auto; }
	#guick_banner .quick_list li .facebook { background-size:40% auto; }
}

@media (max-width: 620px) {
	/* 콘텐츠 전체보기 */
	#contents_all .tab_menu_con { gap:0 10px; padding:10px; }
	#contents_all .tab_menu_con .tab-style-02 .nav {  }
	#contents_all .tab_menu_con .tab-style-02 .nav-item { width:50%; padding:0; }
	#contents_all .tab_menu_con .tab-style-02 .nav-item .nav-link.active { border:0 none; }
	.tab-style-02 .nav-item:nth-child(2)::after { display:none; }
	#top_con_slide .tab-style-02 .nav-item:nth-child(2)::after { display:block; }
	#contents_all .tab_menu_con .last_view a { min-width:110px; }
	
}

@media (max-width: 576px) {
	/* 콘텐츠 전체보기 */
	#contents_all .tab-pane > ul { width:100%; margin:0 auto; }
	#contents_all .tab-pane > ul > li { width:100%; min-height:auto; margin:0 auto 10px; }
	
	/* 지난호보기 */
	#webzine_last_view { margin-top:0; }
	#webzine_last_view .con_txt { padding-right:160px; }
	#webzine_last_view .con_txt::before { bottom:-16px; width:142px; height:120px; background-size:100% auto; }
}

@media (max-width: 486px) {
	/* 이벤트_sns로 만나는 광주환경공단 */
	#event_sns .sns_con ul { width:100%; margin:0; }
	#event_sns .sns_con ul li { width:100%; margin:0 0 20px; }
}

@media (max-width: 420px) {
	/* 추천콘텐츠, 월간베스트, 최신콘텐츠 */
	#top_con_slide .top-con-swiper { width:100%; }
	/* #top_con_slide .top-con-swiper .swiper-slide .img_con .img { width:100%; } */
}

@media (max-width: 400px) {
	/* 콘텐츠 전체보기 */
	#contents_all .tab_menu_con { flex-wrap:wrap; gap:10px 0; }
}

@media (max-width: 350px) {
	/* 지난호보기 */
	#webzine_last_view .con_txt { padding:0; }
	#webzine_last_view .con_txt::before { display:none; }
}

@media (max-width: 290px) {
	/* 추천콘텐츠, 월간베스트, 최신콘텐츠 */
	#top_con_slide .tab-style-02 .nav-item { padding:0 10px 10px 7px; }
}








/* 레이아웃 */
/* @media (max-width: 1560px) {
  #gnb_1dul .gnb_1dli { flex: 1 0 100px; }  
}
*/

/* 공통 사용 */
.main-section { position: relative; padding: 8.438rem 0 5.625rem; }
.main-section .inner_con,
/* #vis .main-slide .swiper-slide .main-slide-txt { padding-left: calc(3% + 445px + 4.375rem); padding-right: 9.688rem; } */
.main-section .inner_con { position: relative; }
@media (max-width: 1500px) {
	.main-section .inner_con,
    /* #vis .main-slide .swiper-slide .main-slide-txt { padding-right: 3rem; } */
}
@media (max-width: 1400px) {
	.main-section .inner_con,
    /* #vis .main-slide .swiper-slide .main-slide-txt{ padding-left: calc(3% + 280px + 2rem); } */
}
@media (max-width: 1200px) {
	.main-section { padding: 5rem 0; }
}
@media (max-width: 992px) {
	.main-section { padding: 2rem 0 5rem; }
	.main-section .inner_con,
    /* #vis .main-slide .swiper-slide .main-slide-txt{ padding: 0 2rem; } */
}


.video-container { position: relative; margin: 0 auto; width: 100%; }
.video-container .video-wrap { width: 100%; padding-bottom: 56.25%; }
.video-container .video-wrap iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; }


/*================================================================
   왼쪽 콘텐츠
================================================================*/
.side-content { position: absolute; bottom: 0; left: 3%; width: 490px; height: 100%; padding: 8.438rem 1.875rem 5.938rem; background: #fff; color: #424242; font-size: 1.125rem; z-index: 1; }
#vis_wrap .side-content { height: 83%; padding: 4.063rem 1.875rem 5.938rem; }
.side-content h2 { font-size: 2.188rem; font-weight: 300; letter-spacing: 0; }
.side-content h2 b { font-size: 2.75rem; }
.side-content .title { position: relative; margin-bottom: 3.125rem; padding-bottom: 3.125rem; font-size: 1.625rem; letter-spacing: 0; }
.side-content .title::after { content: ""; position: absolute; bottom: 0; left: 0; width: 4.375rem; height: 1px; background: #111; }
.side-content .title .vol { color: #0055A5; }
.side-content .title .date { margin-left: 1.25rem; color: #848484; }
.side-content .title .logo { max-width: 330px; margin-top: 2.5rem; }
.side-content .title .logo img { width: 100%; }
.side-content .txt { /* height: calc(100% - 24rem); */ line-height: 1.45; overflow-y: scroll; }
@media (max-width: 1400px) {
	.side-content, #vis_wrap .side-content { width: 280px; }
	#vis_wrap .side-content { padding: 3rem 1.5rem 4rem; }
	.side-content h2 { font-size: 1.75rem; }
	.side-content h2 b { font-size: 2rem; }
	.side-content .title .date { display: block; margin: 0; }
	.side-content .txt br { display: none; }
}
@media (max-width: 1200px) {
	.side-content { padding: 5rem 1.25rem; }
}
@media (max-width: 992px) {
	.side-content { position: static; width: 100%; padding: 2.5rem 0; background: transparent; text-align: center; }
	#vis_wrap .side-content { display: none; }
	.side-content .title { margin: 0; padding-bottom: 0.5rem; font-size: 1.25rem; }
	.side-content .title::after { display: none; }
	.side-content h2 p { display: inline-block; }
	.side-content .txt { color: #7D7D7D; }
}

/*================================================================
   최상단 영상배너
================================================================*/
.video-banner #preview { position: relative; background: rgba(0,0,0,0.35); transition: all .45s; overflow: hidden; z-index: 1; }
.video-banner #preview .preview-wrap { position: relative; top: 0; left: 0; right: 0; height: 267px; transform-origin: 50% 0; transition: all .45s; z-index: -1; }
.video-banner #preview .preview-wrap::before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgb(18 22 18 / 40%); }
.video-banner #preview video { display: block; height: 100%; }
.video-banner #preview > p { position: absolute; top: 3.75rem; left: 50%; transform: translateX(-50%); display: flex; justify-content: center; align-items: center; text-align: center; width: 100%; height: 110px; padding: 0 2rem; color: #fff; font-size: 2.813rem; font-weight: 800; letter-spacing: 0; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; word-break: break-all; }
.video-banner #preview > button { content: ""; position: absolute; bottom: 0.75rem; left: 50%; transform: translateX(-50%); background: transparent; border: 0; color: #fff; font-size: 1.875rem; transition: all .45s; }
.video-banner #preview .origin-wrap { opacity: 0; visibility: hidden; position: absolute; top: 8rem; left: 50%; transform: translateX(-50%); width: 77%; margin-top: 200px; transition: all .25s ease-in-out; }
.video-banner #preview #origin { display: flex; max-height: 100%; background: #fff; border-radius: 1.25rem; overflow: hidden; transition: all .45s; }
.video-banner #preview #origin .video-container { width: 74%; }
.video-banner #preview #origin .txt { display: flex; flex-direction: column; align-items: flex-start; width: 26%; padding: 5.5% 2.5% 9%; }
.video-banner #preview #origin .txt .cate-wrap { display: flex; gap: 1.25rem; align-items: center; }
.video-banner #preview #origin .txt .cate { display: inline-flex; justify-content: center; align-items: center; min-width: 70px; height: 2.063rem; border: 1px solid #62BB3D; border-radius: 0.875rem; color: #62BB3D; font-size: 1rem; font-weight: 700; letter-spacing: 0; }
.video-banner #preview #origin .txt .date { color: #424242; font-size: 14px; }
.video-banner #preview #origin .txt .subject { width: 100%; font-family: 'Noto Serif KR', serif; font-size: 1.875rem; font-weight: 600; line-height: 1.3;
overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; height: 4.875rem; }
.video-banner #preview #origin .txt .content { width: 100%; font-size: 1.125rem; font-weight: 300; line-height: 1.75;
overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; height: 3.688rem; }

.video-banner.on #preview .preview-wrap { height: 950px; transform: scale(1.1); }
.video-banner.on #preview .preview-wrap::before { background: rgba(34, 34, 34, 0.5); }
.video-banner.on #preview .preview-wrap video { width: auto; height: 100%; }
.video-banner.on #preview .origin-wrap { opacity: 1; visibility: visible; top: 0; }
.video-banner.on #preview > button { bottom: 2rem; transform: rotate(180deg) translateX(50%); }

@media (min-width: 1900px) {
  .video-banner.on #preview .preview-wrap { height: 100vh; }
  .video-banner #preview #origin .txt { justify-content: space-between; }
  .video-banner.on #preview > button { bottom: 3rem; }
}
@media (max-width: 1899px) {
  .video-banner #preview #origin .txt .subject,
  .video-banner #preview #origin .txt .content,
  .video-banner #preview #origin .txt a { margin-top: 2rem; }
}
@media (max-width: 1530px) {
  .video-banner.on #preview .preview-wrap { height: 750px; }
  .video-banner #preview #origin .video-container { width: 60%; }
  .video-banner #preview #origin .txt { width: 40%; }
}
@media (max-width: 992px) {
  .video-banner.on #preview .preview-wrap { height: 950px; }
  .video-banner #preview #origin { flex-direction: column; }
  .video-banner #preview #origin .video-container,
  .video-banner #preview #origin .txt { width: 100%; padding: 2rem 1rem 3rem; }
/* }
@media (max-width: 768px) { */
  .video-banner #preview > p { height: 65px; font-size: 1.8rem; }
  .video-banner #preview .preview-wrap { height: 190px; }
  #origin .video-container .video-wrap { padding-bottom: 35.25%; }
  .video-banner #preview .origin-wrap { width: 90%; margin-top: calc(65px + 3.75rem + 20px); }
  .video-banner #preview #origin .txt .subject { margin-top: 1rem; font-size: 1.5rem; -webkit-line-clamp: 1; height: 1.788rem; }
  .video-banner #preview #origin .txt .content { line-height: 1.25; height: 2.56rem; }
  .video-banner.on #preview .preview-wrap { height: 100vh; }
}

/*================================================================
   비주얼 슬라이드
================================================================*/
/* #vis_wrap { position: relative; height: 100vh; }
.main-slide { width: 100%; height: 100%; }
.main-slide.mobile { display: none; }

#vis .main-slide .swiper-slide .main-slide-txt { position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex; justify-content: center; align-items: center; }
#vis .main-slide .swiper-slide .main-slide-txt img { opacity: 1; visibility: visible; width: 80%; max-width: 800px; }
@media (max-width: 992px) {
  #vis_wrap { height: 450px; }
  #vis .main-slide .swiper-slide .main-slide-txt img { max-width: 350px; }
}
@media (max-width: 768px) {
  .main-slide.pc { display: none; }
  .main-slide.mobile { display: block; }
} */

/*================================================================
   월간 BEST
================================================================*/
/* .sec-best { background: #F2F2F2; }
#bestSlider { padding: 1rem 0; }
#bestSlider ul { display: flex; align-items: flex-start; margin: 0 -2.4rem; }
#bestSlider li { width: calc(33.33% - 4.8rem); margin: 0 2.4rem; background: #fff; border-radius: 1.25rem; transition: all .25s; overflow: hidden; }
#bestSlider li .img { overflow: hidden; }
#bestSlider li img { width: 100%; transition: all .25s; }
#bestSlider li .txt { width: 100%; padding: 3.125rem 1.875rem 1.875rem; color: #424242; word-break: break-all; }
#bestSlider li .txt .subject { font-size: 1.125rem; font-weight: 700; transition: all .25s; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; height: 2.813rem; }
#bestSlider li .txt .content { margin-top: 1.875rem; line-height: 1.65; transition: all .25s; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; height: 6.563rem; }
#bestSlider li .txt .date { margin-top: 2.5rem; color: #999; }
@media (max-width: 1850px) {
  #bestSlider ul { margin: 0 -1.5rem; }
  #bestSlider li { width: calc(33.33% - 3rem); margin: 0 1.5rem; }
}
@media (min-width: 1401px) and (max-width: 1700px) {
  #bestSlider li { width: calc(50% - 3rem); }
}
@media (max-width: 1500px) {
  #bestSlider li .txt { padding: 2rem 1rem 1.5rem; }
}
@media (max-width: 1300px) {
  #bestSlider ul { margin: 0 -1rem; }
  #bestSlider li { width: calc(33.33% - 2rem); margin: 0 1rem; }
  #bestSlider li .txt .content { margin-top: 1rem; }
}
@media (min-width: 993px) and (max-width: 1300px) {
  #bestSlider li { width: calc(50% - 2rem); }
}
@media (max-width: 992px) {
  #bestSlider li .txt .subject { -webkit-line-clamp: 1; height: auto; }
  #bestSlider li .txt .content { -webkit-line-clamp: 2; height: 2.975rem; }
}
@media (max-width: 768px) {
  #bestSlider ul { margin: 0 -0.5rem; }
  #bestSlider li { width: calc(50% - 1rem); margin: 0 0.5rem; border-radius: 0.75rem; }
  #bestSlider li:last-child { display: none; }
}
@media (hover: hover), (-ms-high-contrast:none) {
	#bestSlider li:hover { transform: translateY(-1rem); box-shadow: 5px 5px 6px rgba(0,0,0,0.16); }
	#bestSlider li:hover a .txt .subject { color: #3F8B11; }
	#bestSlider li:hover a .txt .content { color: #111; }
} */


/*================================================================
   배너존
================================================================*/
/* .banner-slide { margin: 2.25rem 0 0; }
.banner-slide li { background-position: center; background-size: cover; background-repeat: no-repeat; }
.banner-slide li img { width: 100%; }
#banSlider { display: block; }
#m-banSlider { display: none; }
@media (max-width: 768px) {
	#banSlider { display: none; }
	#m-banSlider { display: block; }
} */


/*================================================================
   최신글 영역
================================================================*/
/* .sec-now .tabMenu-wrap { margin-top: 3rem; }
.sec-now .tabContent-wrap { min-height: 34rem; }
.masonry { columns: 3; column-gap: 1.875rem; }
.masonry .masonry-item { margin-bottom: 2.5rem; break-inside: avoid; }
.masonry .masonry-item .img { border: 1px solid #ddd; border-radius: 0.625rem; overflow: hidden; }
.masonry .masonry-item .img img { width: 100%; transition: all .25s; }
.masonry .masonry-item .txt { padding-top: 1.25rem; }
.masonry .masonry-item .subject { font-size: 1.125rem; font-weight: 700; transition: all .25s; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; height: 1.438rem; }
.masonry .masonry-item .cate { margin-top: 0.625rem; color: #099590; }

@media (min-width: 993px) and (max-width: 1110px) {
	.tab-style-03 ul { flex-direction: column; align-items: flex-start; }
	.masonry { columns: 2; column-gap: 1rem; }
}
@media (max-width: 992px) {
	.sec-now .tabMenu-wrap { position: static; }
	.masonry { column-gap: 1rem; }
}
@media (max-width: 576px) {
	.masonry { columns: 2; }
}
@media (hover: hover), (-ms-high-contrast:none) {
	.masonry .masonry-item a:hover .img img { transform: scale(1.1); }
} */


/*================================================================
   비디오 최신글 영역
================================================================*/
/* .sec-sns { background: #F2F2F2; }
.sec-sns .sns-wrap { margin-top: 1.875rem; }
.sec-sns .sns-wrap ul { display: flex; }
.sec-sns .sns-wrap ul li { width: 2.5rem; height: 2.5rem; margin: 0 0.938rem 0.469rem 0; border-radius: 0.5rem; background-position: center; background-size: contain; background-repeat: no-repeat; overflow: hidden; }
.sec-sns .sns-wrap ul li a { display: block; width: 100%; height: 100%; }
.sec-sns .sns-wrap ul .sns-blog { background-image: url("../images/main/sns_blog.png"); }
.sec-sns .sns-wrap ul .sns-youtube { background-image: url("../images/main/sns_youtube.png"); }
.sec-sns .sns-wrap ul .sns-instagram { background-image: url("../images/main/sns_insta.png"); }
.sec-sns .sns-wrap ul .sns-facebook { background-image: url("../images/main/sns_facebook.png"); }
.sec-sns .sns-wrap ul .sns-kakao { background-image: url("../images/main/sns_kakao.png"); }
.sec-sns .inner_con .txt { position: relative; padding: 1.25rem 0 3.75rem; }
.sec-sns .inner_con .txt::before { content: ""; position: absolute; bottom: 0; left: 0; width: 8.75rem; height: 1px; background: #A7A7A7; }
.sec-sns .txt .subject { font-size: 1.688rem; font-weight: 700; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; }
.sec-sns .txt .content { margin-top: 0.625rem; line-height: 1.45; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; height: 2.875rem; }
@media (max-width: 1400px) {
  .sec-sns .txt .subject { font-size: 1.5rem; }
}
@media (max-width: 992px) {
  .sec-sns .sns-wrap ul { justify-content: center; }
} */

/* sns 슬라이드 */
/* .insta-txt { margin-top: 0.313rem; padding-left: 2.063rem; background: url('../images/main/ico_instagram.png') left top / 1.688rem no-repeat; color: #555; font-family: 'Poppins'; font-size: 1.125rem; font-weight: 500; letter-spacing: 0; line-height: 1.5; text-transform: uppercase; }

#snsSlider { margin-top: 3.75rem; }
#snsSlider .swiper-wrapper { align-items: flex-end; }
#snsSlider .swiper-slide { width: 13.75rem; cursor: pointer; }
#snsSlider .swiper-slide img { width: 100%; }
#snsSlider .swiper-slide-active { transform: translateY(-0.938rem); width: 18.125rem; }
#snsSlider .swiper-controller { position: relative; width: 9.688rem; height: 5.625rem; }
#snsSlider .swiper-button-prev, #snsSlider .swiper-button-next { width: 4.125rem; height: 4.125rem; border: 1px solid #AFAFAF; background: #fff url("../images/swiper_arrow.jpg") center / 1rem no-repeat; }
#snsSlider .swiper-button-prev { left: 0; transform: rotate(180deg); }
#snsSlider .swiper-button-next { left: calc(4.125rem + 1rem); }
@media (max-width: 768px) {
  #snsSlider .swiper-slide { width: 10rem; }
  #snsSlider .swiper-slide-active { width: 13rem; }
} */


/*================================================================
   퀵메뉴
================================================================*/
/* .scroll_right_cont { padding: 0; background: transparent; border: 0; }
.scroll_right_cont ul { margin-top: 0; }
.scroll_right_cont li { width: 7.813rem; height: 7.813rem; border: 0.25rem solid #fff; }
.scroll_right_cont li a, .scroll_right_cont li button { display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%; }
.scroll_right_cont li a:focus-visible, .scroll_right_cont li button:focus-visible { outline: 0; }
.scroll_right_cont li img { width: 2.813rem; }
.scroll_right_cont li span { text-align: center; color: #fff; font-size: 1.25rem; font-weight: 400; letter-spacing: 0; line-height: 1.125; }
.scroll_right_cont li span small { display: block; font-size: 14px; }
.scroll_right_cont li.float01 { background: #54B01F; }
.scroll_right_cont li.float02 { background: #1FB075; }
.scroll_right_cont li.float03 { background: #138976; }
@media (max-width: 768px) {
  .scroll_right_cont ul { flex-wrap: nowrap; }
  .scroll_right_cont li { flex: 0 0 33.33%; height: auto; margin: 0; padding: 1rem 0.5rem; border: 0; border-radius: 0; }
  .scroll_right_cont li a, .scroll_right_cont li button { flex-direction: initial; }
  .scroll_right_cont li span { margin-left: 0.25rem; text-align: left; }
}
@media (hover: hover), (-ms-high-contrast:none) {
  .scroll_right_cont li:hover { border-color: #fff; }
} */

