@charset "utf-8";

/* 공통 사용 */
.wide_con { position: relative; z-index: 1; }
.wide_con::before { content: ""; position: absolute; top: 0; left: 50%; transform: translateX(-50%); background-color: #f5f5f5; width: 200%; height: 100%; z-index: -1 }

/* 라벨 컬러 */
.label { display: inline-flex; justify-content: center; align-items: center; min-width: 120px; height: 3.125rem; margin-bottom: 1.875rem; background: #ddd; border-radius: 0.313rem; color: #555; font-size: 1.375rem; font-weight: 700; letter-spacing: 0; }
.label.proceed { background: #3DBBA6; color: #fff; }
.label.upcoming { background: #ED6C01; color: #fff; }
@media (max-width: 992px) {
  .label { min-width: 100px; height: 2.75rem; }
}
@media (max-width: 768px) {
  .label { font-size: 1.25rem; }
}


/*================================================================
    지난호 보기
================================================================*/
#contentId-abb7c68a0900d318989c201245657cf7433701a9ff1e317f7043ac8aaebebbb4 #vis #titler { background: none !important; }

/* 옵션박스 */
.area-custom-select { position: relative; width: 268px; margin: 0 0 0 auto; }
.custom-select { position: relative; width: 100%; height: 50px; border: none; border-radius: 0; border-bottom: 2px solid #62BB3D; background: #fff; color: #999; font-size: 18px; font-weight: 300; letter-spacing: 0.05em; cursor: pointer; }
.custom-select-text { position: absolute; bottom: 0; left: 10px; cursor: pointer; }
.custom-select-text strong { margin-right: 15px; color: #000; font-size: 35px; font-weight: 800; }
.custom-select-arrow { position: absolute; top: 15px; right: 10px; }
.custom-select-list { position: absolute; width: 100%; border: 1px solid #ddd; border-radius: 0 0 5px 5px; background: #fff; text-align: left; z-index: 15; }
.custom-select-option { display: flex; justify-content: flex-start; align-items: flex-end; height: 55px; padding: 0 20px 15px; border-bottom: 1px solid #ddd; color: #999; font-size: 14px; font-weight: 300; letter-spacing: 0.05em; cursor: pointer; }
.custom-select-option:last-child { border: none; }
.custom-select-option strong { margin-right: 15px; color: #000; font-size: 18px; font-weight: 800; }
.custom-select-option:hover { background: #F5F5F5; }

@media (max-width: 768px) {
  .area-custom-select { width: 225px; }
  .custom-select, .custom-select-option { height: 40px; padding: 0 20px 8px; }
  .custom-select { font-size: 15px; }
  .custom-select-text { bottom: 5px; }
  .custom-select-text strong { font-size: 20px; }
  .custom-select-option strong { font-size: 15px; }
}


/*================================================================
    이벤트
================================================================*/
/* 목록 화면 */
.event-item { padding: 2.5rem 0 2.813rem; border-bottom: 1px solid #ddd; }
.event-item > a { display: flex; align-items: flex-start; gap: 3.438rem; width: 100%; height: 100%; }
.event-item .thumb-container { flex: 0 0 auto; position: relative; width: 43.8%; border-radius: 1.25rem; overflow: hidden; }
.event-item .thumb-container .thumb-wrap { position: relative; width: 100%; padding-top: 59.82%; background-position: center; background-size: cover; background-repeat: no-repeat; overflow: hidden; transition: all .25s; }
.event-item .thumb-container .thumb-wrap img { opacity: 0; visibility: hidden; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.event-item .event-txt { flex: 1 0 0; }
.event-item .event-txt .subject { font-size: 1.563rem; font-weight: 800; letter-spacing: -0.03em; word-break: break-all;
overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.event-item .event-txt .info { margin-top: 1.875rem; }
.event-item .event-txt .info dl { display: flex; margin-bottom: 1.25rem; color: #5C6466; font-size: 1.125rem; }
.event-item .event-txt .info dt { margin-right: 2.813rem; }
.event-item .event-txt .info dl.term dd { color: #3DBBA6; font-weight: 700; }
@media (max-width: 1200px) {
  .event-item .event-txt .info dl { margin-bottom: 0.5rem; }
}
@media (max-width: 992px) {
  .event-item > a { flex-direction: column; align-items: center; }
  .event-item .thumb-container { width: 90%; max-width: 600px; }
  .event-item .event-txt { width: 100%; }
}
@media (max-width: 768px) {
  .event-item .event-txt .subject { font-size: 1.55rem; }
}
@media (hover: hover), (-ms-high-contrast:none) {
  .event-item:hover .thumb-container .thumb-wrap { transform: scale(1.05); }
}


/* 상세 화면 */
#contentId-257a1626ad31a8264c62ddc8ad0454247da258be5f3f6def89c5bb96d6da80bf #vis_wrap { display: none; }
.event-view .title-wrap { position: relative; margin-top: 2rem; }
.event-view .title-wrap h3 { padding-right: 12.5rem; font-size: 2.5rem; font-weight: 800; }
.event-view .title-wrap .label { position: absolute; top: 0; right: 0; }
.event-view .info-wrap { margin-top: 4.5rem; padding: 2.5rem 0; background: #f5f5f5; }
.event-view .info-wrap .info { display: flex; flex-wrap: wrap; justify-content: space-between }
.event-view .info-wrap dl { display: flex; width: calc(50% - 2rem); }
.event-view .info-wrap dl:nth-child(n+3) { margin-top: 1rem; }
.event-view .info-wrap dt, .event-view .info-wrap dd { font-size: 1.5rem; }
.event-view .info-wrap dt { position: relative; min-width: 150px; padding-left: 1.25rem; padding-right: 0.5rem; font-weight: 700; }
.event-view .info-wrap dt::before { content: ""; position: absolute; top: 0.65rem; left: 0; width: 0.5rem; height: 0.5rem; background-color: #3DBBA6; border-radius: 100%; }
.event-view .info-wrap dd { font-weight: 400; }
@media (max-width: 992px) {
  .event-view .title-wrap h3 { font-size: 1.75rem; }
  .event-view .info-wrap dt, .event-view .info-wrap dd { font-size: 1.125rem; }
  .event-view .info-wrap dt { min-width: 110px; }
  .event-view .info-wrap dt::before { top: 0.45rem; }
}
@media (max-width: 768px) {
  .event-view .info-wrap .info { flex-direction: column; }
  .event-view .info-wrap dl { width: 100%; }
  .event-view .info-wrap dl:not(:first-child) { margin-top: 1rem; }
}
@media (max-width: 576px) {
  .event-view .title-wrap h3 { padding: 0 0 2rem; }
  .event-view .title-wrap .label { position: static; }
}





